@media (max-width: 850px) {
  .menu-responsive {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 2em;
  }

  .menu {
    display: none;

  }
}

@media (max-width: 815px) {
  .texto {
    font-size: 4em;
  }

}

@media (max-width: 768px) {



  .section2 {
    margin: 5% 5%;
  }


}

@media (max-width: 1386px) {
  .tituloSection3 {
    width: 60%;
  }


}

@media (max-width: 1300px) {
  .pSection3 {
    width: 70%;
  }


}

@media (max-width: 1150px) {
  .section3 {

    flex-direction: column;
    align-items: center;
  }

  .imagenSection3 {
    width: 100%;
  }

}

@media (max-width: 1259px) {
  .primeraParte p {
    display: none;
  }

  .primeraParte h2 {
    display: none;
  }



}

@media (max-width: 1120px) {
  .primeraParte p {
    display: none;
  }

  .primeraParte h2 {
    display: none;
  }



}

@media(max-width: 1000px) {
  .cuerpoSection4 {
    display: flex;
    flex-wrap: wrap;
  }

  .item4 {
    width: 50%;
    margin-bottom: 2em;
  }
}

@media (max-width: 600px) {

  .item4 {
    width: 100%;

  }
}

@media (max-width: 750px) {

  .lineaSection4 {
    width: 5em;

  }
}

@media (max-width: 350px) {

  .lineaSection4 {
    display: none;

  }
}

@media (max-width: 560px) {

  .lineaSection4 {
    width: 2em;

  }
}



@media (max-width: 1024px) {

  .btn-flotante {
    font-size: 14px;
    padding: 12px 20px;
    bottom: 20px;
    right: 20px;
  }

}

@media(max-width:320px) {
  .tituloSection3 {
    width: 100%;
  }

  .pSection3 {
    width: 100%;
  }

}


@media(max-width:600px) {
  .tituloSection3 {
    width: 100%;
  }


}

@media (max-width: 543px) {
  .texto {
    font-size: 2em;
  }

}

@media (max-width: 464px) {


  .item1-1 p {
    text-align: center;
  }


}

@media (max-width: 1050px) {
  .footer-item1 {
    flex-direction: column;
  }

  .item1-1,
  .item1-2,
  .item1-3 {
    width: 100%;
  }

  .footer-item2 {
    flex-direction: column;
    font-size: 1em;
  }
}