* {
  margin: 0%;
  padding: 0%;
}
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Roboto:wght@300&display=swap");
body {
  background-color: #f8f1e7;
  font-family: "Barlow", sans-serif;
  font-weight: 200;
}

.container {
  position: relative;
  height: 90vh;
}
.foto-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.foto-container img {
  position: relative;
  object-fit: cover;
  width: 100%;
  transform: translate(-50% -50%);
}
.texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  text-align: center;
  font-size: 7em;
  font-family: "Barlow", sans-serif;
  font-weight: 200;
}

.menu-responsive {
  display: none;
  cursor: pointer;
  font-size: 24px;
}
.fa-bars {
  color: white;
}

.logo a {
  text-decoration: none;
}

.menu {
  /* position: fixed;
        z-index: 99;
        display: block;*/
  top: 0%;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 2em;
}

.logo h1 {
  color: white;
  font-size: 30px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav li {
  margin-right: 70px;
  font-size: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}
.desplegable-content {
  display: none;
  width: 10%;
  position: absolute;
  background-color: #f9f9f9;
  z-index: 1;
}
.desplegable-content a {
  color: #000;
}
.desplegable-content li {
  text-align: center;
}
.desplegable:hover .desplegable-content {
  display: block;
}
.busqueda {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #ecb85c;
  width: 125px;
  cursor: pointer;
}

.busqueda input {
  padding: 10px;
  border: none;
  background-color: #f1b496;
  opacity: 0.7;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
.btn-flotante {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 5px;
  background-color: #ecb85c;
  padding: 0.8em 1em;
  position: fixed;
  bottom: 1em;
  right: 2em;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 1;
  text-decoration: none;
}
.btn-flotante:hover {
  background-color: #ef8e7d;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
}
.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(fondo.webp);
  height: 100vh;
  padding-top: 3em;
}
.tituloSection2 {
  font-size: 3em;
  padding-bottom: 1em;
}
.formulario {
  width: 50%;
  padding: 2em;
  background-color: rgba(234, 234, 234, 0.7);
  border-radius: 10px;
  padding-left: 10em;
  
  
}

.formulario-item {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.formulario-item2 {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.formulario-item2 textarea {
  border: none;
  border-bottom: 1px solid black;
}

.container-formu {
  display: flex;
  flex-direction: row;
}
.formulario label {
  font-size: 2em;
  margin-top: 1em;
}
.formulario input:hover {
  background-color: rgba(234, 234, 234, 0.7);
}
.formulario textarea:hover {
  background-color: rgba(234, 234, 234, 0.7);
}

.formulario input {
  width: 70%;
  height: 5em;
  border: none;
  border-bottom: 1px solid black;
}
.botonFormu {
  margin-top: 3em;
  border: 1px solid black;
  font-size: 1em;
  width: 50%;
  height: 10vh;
}
.formulario-item3 {
  margin-left: 20em;
}
.formulario-item3:last-child{
  margin-left: 12em;
}
.formulario-item3 button:hover {
  cursor: pointer;
  background-color: #000;
  color: white;
}
.footer {
  height: auto;
  display: flex;
  color: #000;
  justify-content: center;
  padding-bottom: 2em;

  font-family: Arial, sans-serif;
  position: relative;
}
.contenedorFooter {
  display: flex;
  margin-top: 5em;
  flex-direction: row;
}

.footer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0%;
  padding-left: 2em;
}

.footer1 p {
  font-size: 2em;
  border: #000 1px solid;
  padding: 5px;
  margin: 0%;
  margin-bottom: 1em;
}

.footerContent {
  display: flex;
  flex-direction: row;
}

.footer1Logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerImagenLogo {
  width: 12em;
}
.footerImagenLogo:hover {
  cursor: pointer;
}

.footer1 h1 {
  margin: 0;
  font-size: 1.5em;
  color: #000;
}

.footer1Botones {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer1Botones input {
  border-radius: 1em;
  width: 8em;
  height: 3em;
  margin: 5px;
  background-color: #000;
  opacity: 0.6;
  color: #fff;
}
.footer1Botones input:hover {
  cursor: pointer;
}
.footer1 a {
  color: #000;
  text-decoration: none;
}
.footer1 li {
  list-style: none;
  line-height: 2em;
  font-size: 1em;
  padding-right: 1em;
}

.footer1 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0%;
  margin: 0%;
}
.ubicacion {
  border: none !important;
  padding: 0.6em !important;
}
.mapa {
  display: flex;
  flex-direction: row;
}
.fa-map-location-dot {
  font-size: 5em;
  opacity: 0.8;
}
.fa-map-location-dot:hover {
  cursor: pointer;
}
.redesSociales i {
  font-size: 3em;
  margin: 10px;
}
.redesSociales i:hover {
  cursor: pointer;
}

.parte1 {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3em;
  padding: 1em;
}
.flecha {
  background-color: gainsboro;
  width: 1em;
  display: flex;
  justify-content: center;
}
.flecha:hover {
  background-color: #ecb85c;
  cursor: pointer;
}
.correo {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}
.correo input {
  padding-left: 1em;
}

.parte2 {
  width: 100%;
  background-color: #000;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  color: #fff;
}
.parte2 ul {
  margin: 0%;
  height: 8em;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

.parte2 li {
  font-size: 2em;
  border-right: 1px solid white;
}

.parte2 a {
  text-decoration: none;
  color: #fff;
  margin: 1em;
}
.parte2 li:last-child {
  border: none;
}
.image2 {
  position: relative;
  background: url("fondo.webp") no-repeat fixed;
  background-position: center center;
  background-size: cover;
  min-height: 500px;
  height: 80vh;
}
