@media (max-width: 850px) {
  .menu-responsive {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 2em;
  }

  .menu {
    display: none;

  }
}

@media (max-width: 815px) {
  .texto {
    font-size: 4em;
  }

}

@media (max-width: 543px) {
  .texto {
    font-size: 2em;
  }

}

@media (max-width: 1000px) {

  .container-section3 {
    flex-wrap: wrap;
  }
}

@media (max-width: 912px) {

  .container-section3 {
    flex-direction: column;
  }
}

@media (max-width: 912px) {


  .titulo-section3 {
    text-align: center;

  }

  .item-section3 {
    width: 80%;
    margin-left: 0%;
  }
}

@media (max-width: 464px) {

  .titulo-section4 {
    font-size: 2em;

  }

  .boton-image3 p {
    font-size: 4em;

  }

  .item1-1 p {
    text-align: center;
  }


}


@media (max-width: 915px) {

  .section5-lista2 {
    flex-wrap: wrap;
    margin-top: 22em;
  }

  .section5 p {
    text-align: center;
  }

  .color {
    height: 70vh;

    margin-top: 5em;
  }

}

@media (max-width: 632px) {
  .color {
    height: 150vh;


  }

}

@media (max-width: 1050px) {
  .footer-item1 {
    flex-direction: column;
  }

  .item1-1,
  .item1-2,
  .item1-3 {
    width: 100%;
  }

  .footer-item2 {
    flex-direction: column;
    font-size: 1em;
  }
}

@media(max-width:700px) {
  .section2 button {
    width: 20%;
  }
}